* {
    box-sizing: border-box;
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(255, 205, 130, 0.74);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    font-weight: bolder;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: black;
    display: block;
    float: left;
    background-color: rgba(255, 190, 91, 0.74);
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}